<mat-toolbar>
    <span>
         <img src="img/logo.png" class="toolbar-logo">
    </span>
    <span>
        <button mat-flat-button routerLink="" class="primary" >
            <mat-icon>play_arrow</mat-icon>Peliculas
        </button>
    </span>

    <span>
        <button mat-flat-button routerLink="peliculas/filtrar" class="primary" >
            <mat-icon>style</mat-icon>Buscar Peliculas
        </button>
    </span>
    <span>
        <button mat-flat-button routerLink="generos" class="primary" >
            <mat-icon>theater_comedy</mat-icon>Generos
        </button>
    </span>
    <span>
        <button mat-flat-button routerLink="actores" class="primary" >
            <mat-icon>person</mat-icon>Actores
        </button>
    </span>
    <span>
        <button mat-flat-button routerLink="cines" class="primary" >
            <mat-icon>theaters</mat-icon>Cines
        </button>
    </span>
    <span>
        <button mat-flat-button routerLink="peliculas/crear" class="primary" >
            <mat-icon>local_activity</mat-icon>Agregar Peliculas
        </button>
    </span>
</mat-toolbar>
