@use "@angular/material" as mat;


.primary {
  @include mat.button-overrides((
    filled-container-color: crimson,
    filled-label-text-color: white,
    outlined-label-text-color: black,
    protected-label-text-color: white,
    text-label-text-color: white,
    filled-disabled-container-color: lightgray,
    outlined-outline-color:black,
    outlined-ripple-color: green,
    outlined-focus-state-layer-opacity: purple,
    outlined-pressed-state-layer-opacity: cyan,
    
  ));
   @include mat.icon-overrides((
    color: white,
  ));
  @include mat.form-field-overrides((
    filled-caret-color: crimson,
    filled-focus-active-indicator-color: crimson,
    outlined-focus-outline-color: crimson,
    outlined-focus-label-text-color:crimson
  ));
  
}

.secondary{
  @include mat.button-overrides((
    filled-container-color: black,
    filled-label-text-color: white,
    outlined-label-text-color: black,
    protected-label-text-color: white,
    text-label-text-color: white,
    filled-disabled-container-color: purple,
    outlined-outline-color:black,
    outlined-ripple-color: green,
    outlined-focus-state-layer-opacity: purple,
    outlined-pressed-state-layer-opacity: cyan,
    
  ));
   @include mat.icon-overrides((
    color: white,
  ));
}


